* { box-sizing: border-box; }

body {
	 background: black;
	 color: white;
	 padding: 0 auto;
	 font-family: 'Poiret One', cursive;
	 font size: 1em;
	 background-image: url(http://www.walldevil.com/wallpapers/a76/background-texture-light-pattern-black-wallpapers.jpg);
	 background-size: 100%;

}


/*.special-background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.special-background img {
	height: 100%;
	width: 100%;
}*/

h1 {
	text-align: center;
}

ul {
	list-style-type: none;
	padding: 0;
	width: 35%;
}

li {
	float: left;
	width: 20%;
	text-align: center;
	border-right: 1px solid white;
}

li:last-child {
	border-right: 0;
}

.clearer {
	clear: both;
}

a { 
	text-decoration: none;
	color: white;
 }

 a.current {
 	color: #A65C0B;
 }

 img {
 	width: 100%;
 }

hr {
	border-style: solid;
    border-top: 0;
}

.feature {
	width: 50%;
	float: left;
	padding: 10px;
	/*border-right: 1px solid white;*/
	margin-top: 1em;
}

.feature:last-child {
	border-right: 0;
}

.thumbnail {
	width: 25%;
	float: left;
	padding: 10px;
	margin-top: 1em;
}

.decoration {
	float: left;
	margin: 1em;
	max-width: 500px;
}

.comingsoon {
			color: white;
			font-size: 7em;
			text-align:center;
			vertical-align: center;
			animation: pulse 10s ease infinite alternate,
						nudge 5s linear infinite alternate;

}

@keyframes pulse {
  0%, 100% {
    background-color: red;
  }
  50% {
    background-color: orange;
  }
}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(150px, 0);
  }
  
  80% {
    transform: translate(-150px, 0);
  }
}


html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}



/*#ribbon {
  position:relative;
}

.ribbon {
  position:absolute;
  top:0;
  left:0;
  size: 1em;
}
*/

p{
	text-align: center;
	vertical-align: middle;
}

.contactlink{
	text-decoration: underline;
	color: #A65C0B;
}

.contact {
	text-align: center;
	margin: 0px auto;
}

.abouttext {
	text-align: right;
}

.digitallist {
	/*display: inline-block;*/
	list-style-type: none;
	width: 100em;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center
}

div#container {
	padding: 5em;
}