body {
	 background-color: slategray;
	 color: white;
	 padding: 0 auto;
	 font-family: 'Abel', sans-serif;
}

h1 {
	text-align: center;
}

#rectangle{
    		width:200px;
    		height:100px;
    		background: gainsboro;
    		vertical-align: left;
}