* { box-sizing: border-box; }

body {
	 background: white;
	 color: black;
	 padding: 0 auto;
	 font-family: 'Special Elite', cursive;
	 font size: 1em;
	 background-image: url(https://wallpaperscraft.com/image/abstraction_white_pattern_black_311_1600x1200.jpg);
	 
}


/*.special-background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.special-background img {
	height: 100%;
	width: 100%;
}*/

h1 {
	text-align: center;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	float: left;
	width: 20%;
	text-align: center;
	border-right: 1px solid white;
}

li:last-child {
	border-right: 0;
}

.clearer {
	clear: both;
}

a { 
	text-decoration: none;
	color: black;
 }

 a.current {
 	color: #A65C0B;
 }

 img {
 	width: 100%;
 }

hr {
	border-style: solid;
    border-top: 0;
}

.feature {
	width: 50%;
	float: left;
	padding: 10px;
	border-right: 1px solid white;
	margin-top: 1em;
}

.feature:last-child {
	border-right: 0;
}

.thumbnail {
	width: 25%;
	float: left;
	padding: 10px;
	margin-top: 1em;
}

.decoration {
	float: left;
	margin: 1em;
	max-width: 500px;
}

.comingsoon {
			color: black;
			font-size: 7em;
			text-align:center;
			vertical-align: center;
}

/*#ribbon {
  position:relative;
}

.ribbon {
  position:absolute;
  top:0;
  left:0;
  size: 1em;
}
*/